@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root{
    --min-color: rgb(252, 93, 1); 
    --text-color: rgb(2, 2, 2); 
    --bg-color: rgb(223, 215, 215); 
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: var(--text-color);
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: var(--text-color);
}

h4{
    font-size: 20px;
    color:var(--text-color);
}

h6{
    font-weight: 700;
    font-size: 50px;
}

p{
    font-size: 16px;
    color: var(--min-color)    ;
    margin: 15px 0 20 px 0;
}

.section-p1{
    padding: 60px 80px;
}

.section-m1{
    margin: 5px 0;
}

button.normal {
    font-size: 17px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 15px;
    font-weight: 600;
    padding: 8px 18px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}



body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:var(--bg-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.60);
    z-index: 999;
    position:sticky;
    top: 0;
    left: 0;
    
}

.logo{
    width: 150px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: var(--min-color);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: var(--min-color);
    position: absolute;
    bottom: -4px;
    left: 20px;

}

/* home page  */
#khomsa{
    background-image: url("/img/chocolatier-khomsa.png");
    height: 90vh;
    width: 100%;
    background-position: top 10% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}

#khomsa h4{
    padding-bottom: 15px;
}
#khomsa h1{
    color: var(--min-color);
}
#khomsa button{
    border: 1px solid var(--min-color);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
    width: 200px;
   
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 225px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--min-color);
    border-radius: 50px;
    margin: 10px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(247, 61, 4, 0.5);

}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h4{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: var(--min-color);
    background-color: var(--bg-color);
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--min-color);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(245, 132, 3, 0.02);
    margin: 15px 0 ;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(245, 132, 3, 0.4);

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: var(--min-color);
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: var(--text-color);
    font-size: 16px;
}

#product1 .pro .des i{
    font-size: 14px;
    color: rgb(247, 202, 3);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: var(--min-color);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: var(--bg-color);
    font-weight: 500;
    color: var(--min-color);
    font-size: 28px;
    border: 1px solid var(--min-color);
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--min-color);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;

    
    
}

#banner h4{
    color: var(--bg-color);
    font-size: 20px;
}

#banner h2 {
    color: var(--bg-color);
    font-size: 38px;
    padding: 7px 0;
}

#banner h2 span{
    color: yellow;
}

#banner button:hover{
    background-color: black;
    color: var(--bg-color);
}

#call-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#call-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:url(/img/banner-call-action.jpg);
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#call-banner .box2{
    background-image: url(/img/banner-call-action2.jpeg);

}

#call-banner h4{
    color:var(--bg-color);
    font-size: 20px;
    font-weight: 300;
}

#call-banner h2{
    color: yellow;
    font-size: 30px;
    font-weight: 800;
}

#call-banner span {
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

#call-banner .banner-box:hover button{
    background: black;
    color: white;
}

#call-banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:url(/img/commande-en-ligne-khomsa.png);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#call-banner3 h4{
    font-size: 16px;
    color: var(--min-color);
    font-weight: 800;
}

#call-banner3 h3{
    font-size: 30px;
    color: var(--min-color);
    font-weight: 800;
}


#call-banner3 .box2{
        background:url(/img/jus-khomsa.jpeg);  
}

#call-banner3 .box3{
        background:url(/img/confiture-khomsa.jpeg);
}

#call-banner3 {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-repeat:no-repeat;
    background-position:20%  30%;
    background-color: var(--min-color);
}

#newsletter h4{
    font-size: 30px;
    font-weight: 800;
    color: rgb(253, 253, 252);
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: yellow;
}

#newsletter p span{
    font-size: 14px;
    font-weight:  600;
    color: rgb(252, 252, 249);
}

#newsletter .form{
    display: flex;
    width: 40%;

}
#newsletter input{
    height: 3rem;
    padding: 0 1.25em;
    font-size:  14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: azure;
    color: aqua;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
